.missionsTable {
  padding-block: 0.5rem;
}

.missionsHeader,
.missionItem {
  display: flex;

  --missions-base: 10rem;

  margin: 0;
}

.missionItem {
  border-bottom: var(--border-navBar);
  border-width: 1px;
  border-color: var(--color-missions-header);
  transition: background-color 0.2s ease-out;
  padding-block: 0.5em;

  /* height: 8.3rem; */
}

.missionItem:nth-child(odd) {
  background-color: var(--color-header-hsl);
}

.missionItem:hover {
  background-color: var(--color-missions-hover);
}

.missionsHeader {
  background-color: var(--color-missions-header);
  border-bottom: var(--border-navBar);
}

.headerName,
.headerDescription,
.headerStatus,
.missionName,
.missionDescription,
.missionStatus {
  flex-shrink: 0;
  flex-basis: var(--missions-base);
  padding: 0.25rem 0.75rem;
  margin: 0;
  box-sizing: border-box;
}

.headerName,
.missionName {
  flex-grow: 1;
}

.missionName {
  font-size: var(--fs-medium);
  padding-inline-start: 1.5rem;
}

.headerDescription,
.missionDescription {
  flex-grow: 10;
  flex-basis: calc(var(--missions-base) * 2);
}

.headerStatus,
.missionStatus {
  flex-grow: 1;
  text-align: center;
}

.missionName,
.missionDescription,
.missionStatus {
  padding-block: 0.5rem;
}

.missionStatus {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.textShowHide {
  display: flex;
  flex-wrap: wrap;
}

.textShowHide p {
  position: relative;
  overflow: hidden;
  max-height: calc(var(--fs-normal) * 5.5);
  display: -webkit-box;
  -webkit-line-clamp: 4;         /* 3 Rows of text */
  -webkit-box-orient: vertical;
}

.showMoreLess {
  cursor: pointer;
  font-size: var(--fs-more-less);
  border: none;
  background-color: transparent;
  padding-block: 0.25em 0;
  padding-inline: 0;
  color: var(--color-navlink);
  text-decoration: underline;
}
