.myProfile {
  margin-block: 1em;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5em;

  --profile-basis: 15rem;
}

.mySection {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: var(--profile-basis);
}

.sectionTitle {
  font-size: var(--fs-super);
  color: var(--color-btn-primary);
}

.myList {
  margin-block: 0.5em;
  border: var(--border-profile);
  border-radius: 5px;
}

.myListItem {
  border-bottom: var(--border-profile);
  padding: 1em 2em;
  transition: transform 0.2s ease-out, background-color 0.25s ease, border 0.2s ease-out;
}

.myListItem:last-child {
  border-bottom: none;
}

.myListItem:hover {
  background-color: var(--color-hoverRocket-hsl);
  transform: scale(1.05);
  border: var(--border-profile-hover);
  border-radius: 5px;
}

.myItemName {
  font-size: var(--fs-item-list);
}

.myListItem:hover .myItemName {
  font-weight: var(--fw-bold);
  color: var(--color-link-active);
}
