/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');

/* Global variables */
:root {
  /* Fonts */

  /* font family */
  --ff-notoSans: 'Noto Sans', sans-serif;

  /* font-weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* font-size */
  --fs-base: 1rem;
  --fs-badge: calc(var(--fs-base) * 0.7);
  --fs-normal: calc(var(--fs-base) * 0.95);
  --fs-medium: calc(1.05 * var(--fs-normal));
  --fs-title: calc(1.6 * var(--fs-normal));
  --fs-super: calc(1.8 * var(--fs-normal));

  /* Colors */
  --color-white: #fafafa;
  --color-link-active: #f66f1c;
  --color-link-active-rgb: rgb(246, 111, 28);
  --color-link-active-hsl: hsl(23, 92%, 54%);
  --color-link: #1d1d1d;
  --color-link-rgb: rgb(61, 61, 61);
  --color-link-hsl: hsl(0, 0%, 24%);
  --color-navlink: #02bab7;
  --color-navlink-rgb: rgb(2, 186, 183);
  --color-navlink-hsl: hsl(179, 100%, 30%);
  --color-navTitle-hsl: hsl(195, 100%, 10%);
  --color-header-hsl: hsl(0, 0%, 90%);
  --color-hoverRocket-hsl: hsl(0, 0%, 96%);
  --color-btn-primary: hsl(210, 100%, 50%);
  --color-btn-cancel: hsl(4, 85%, 45%);
  --color-badge-reserved: hsl(162, 85%, 46%);

  /* borders */
  --border-navBar: 2px solid var(--color-navTitle-hsl);
  --border-header: 2px solid var(--color-header-hsl);
  --border-badge: 1px solid var(--color-btn-primary);
}

/* Resets */
body {
  font-family: var(--ff-notoSans);
  font-weight: var(--fw-regular);
  font-size: var(--fs-normal);
  line-height: 1.4;
  margin-inline: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: var(--fw-extrabold);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  box-sizing: border-box;
}

main {
  padding-inline: 0.5em;
  padding-block: 0.5em;
}

.btn {
  font-family: var(--ff-notoSans);
  font-weight: var(--fw-semibold);
  letter-spacing: 0.4px;
  border: transparent;
  padding: 0.75em 1.655em;
  border-radius: 4px;
  color: var(--color-white);
}

.btn-rReserve {
  background-color: var(--color-btn-primary);
}

.btn-rReserve:hover {
  background-color: var(--color-link-active);
}

.btn-cReserve {
  background-color: var(--color-link-hsl);
  padding: 0.75em 1.05em;
}

.btn-cReserve:hover {
  background-color: var(--color-btn-cancel);
}

.btn-rReserve:active,
.btn-cReserve:active {
  background-color: var(--color-navTitle-hsl);
}

.badge {
  border-radius: 5px;
  padding: 0.2em 0.75em;
}

.rktBadge {
  font-size: var(--fs-badge);
  font-weight: var(--fw-regular);
}

.resBadge {
  color: var(--color-navTitle-hsl);
  background-color: var(--color-badge-reserved);
}
